@model InventoryManager.ViewModel.CustomerData
@{
    ViewBag.Title = "Add Customer";
    ViewBag.Submit = "Add Customer";

    Layout = "../Shared/_FormLayout.cshtml";

}

@section PageHead{
    <h2>@ViewBag.Title</h2>
}

@section MenuControls {
    <a href="@Model.ReferrerUrl" class="btn btn-default">
        <i class="fa fa-undo"></i> Cancel
    </a>
    <button type="button" onclick="javascript: document.getElementById('form-add').submit();" class="btn btn-primary">
        <i class="fa fa-plus"></i> @ViewBag.Submit
    </button>
}

<div class="container-fluid">

    @using (Html.BeginForm("Add", "Customer", FormMethod.Post, htmlAttributes: new { @id = "form-add" }))
    {
        @Html.AntiForgeryToken()

        Html.RenderPartial("__form_add_customer");
    }

</div>
