@model InventoryManager.ViewModel.LocationData
@{
    ViewBag.Title = "Add Location";
    ViewBag.Submit = "Save Location";

    Layout = "../Shared/_FormLayout.cshtml";

}

@section FormControls {
    <a class="btn btn-default">Go Back</a>
    <button type="button" onclick="javascript: document.getElementById('form-add').submit();" class="btn btn-primary">@ViewBag.Submit</button>
}

<div class="container-fluid">

    @using (Html.BeginForm("Add", "Location", FormMethod.Post, htmlAttributes: new { @id = "form-add" }))
    {
        @Html.AntiForgeryToken()
        
        @Html.HiddenFor(l => l.CustomerId)

        @Html.Partial("__form_add_location")

    }
    
</div>