<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>@ViewData["Title"] - InventoryManager</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/app.styles.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="~/Content/app.bundle.js"></script>
</head>
<body>
<div class="login-box">
    <div class="row">
        @if (TempData["AlertMessage"] != null)
        {
            <div class="alert alert-success">
                @TempData["AlertMessage"]
            </div>
        }
        <h1>InventoryManager</h1>

        @RenderBody()

    </div>
</div>


<hr/>

@{ Html.RenderPartial("_footer");}

<environment names="Development">
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</environment>


@RenderSection("scripts", required: false)
</body>
</html>
