<header class="container-fluid">
    <div class="navbar">
        <div class="">
            <ul class="nav navbar-nav">
                <li>
                    <a id="menu-toggle" type="button" class="hamburger navbar-menu">
                        <i class="fa fa-bars"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="navbar-header">
            @Html.ActionLink("InventoryManager", "Index", "Home", null, new { @class = "navbar-brand" })
        </div>

        <div class="navbar-right">
            <ul class="nav navbar-nav">
                <li>
                    <div class="navbar-form">
                        <div class="form-group">
                            @using (Html.BeginForm("Index", "Search", FormMethod.Get, htmlAttributes: new {@id="form-search"}))
                            {
                                <input id="search" name="query" class="search form-control" placeholder="Search ... "/>
                            }
                        </div>
                    </div>
                </li>
                <li class="navbar-text">Hello, User</li>
                <li class="navbar-menu">
                    <a href="#" class="logoff">
                        <i class="fa fa-power-off"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
<script>
    $(document).ready(function() {
        $("#search").keypress(function(e) {
            if (e.which === 13) {
                 $('#form-search').submit();
            }
        });
    })
</script>

