@using InventoryManager.Models
<div id="sidebar-wrapper">
    <div class="sidebar-nav">
        <ul class="nav nav-pills nav-stacked">
            <li>
                <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> <span class="hidden-xs">Home</span></a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Hardware")"><i class="fa fa-hdd-o"></i> <span class="hidden-xs">Hardware</span></a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Software")"><i class="fa fa-floppy-o"></i> <span class="hidden-xs">Software</span></a>
            </li>
            @if (User.IsInRole(ApplicationUser.ADMIN) || User.IsInRole(ApplicationUser.CUSTOMER_MANAGER))
            {
            <li>
                <a href="@Url.Action("Index", "Customer")"><i class="fa fa-address-book-o"></i> <span class="hidden-xs">Customers</span></a>
            </li>
            }
            @if (User.IsInRole(ApplicationUser.ADMIN) || User.IsInRole(ApplicationUser.AUDITOR))
            {
            <li>
                <a href="#"><i class="fa fa-table"></i> <span class="hidden-xs">Reports</span></a>
            </li>
            }

        </ul>
    </div>
</div>
